{% extends 'account/base.html' %}

{% block title %}Upload CSV File{% endblock %}

{% block content %}
<div class='p-5 justify-content-center'>
    <h2>Upload File</h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <div class="progress mt-3" style="display: none;">
        <div id="progressBar" class="progress-bar progress-bar-blue" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <div id="successMessage" class="alert alert-success mt-3" style="display: none;">Upload successful!</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        var progressBar = document.getElementById('progressBar');
        var progressContainer = document.querySelector('.progress');
        var successMessage = document.getElementById('successMessage');
        var xhr = new XMLHttpRequest();
        xhr.open('POST', this.action, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

        xhr.upload.addEventListener('progress', function(event) {
            if (event.lengthComputable) {
                var percent = Math.round((event.loaded / event.total) * 100);
                progressBar.style.width = percent + '%';
                progressBar.setAttribute('aria-valuenow', percent);
                progressBar.textContent = percent + '%';
            }
        });

        xhr.onload = function() {
            if (xhr.status === 200) {
                // Handle successful upload
                console.log('Upload successful');
                progressBar.style.width = '100%';
                progressBar.setAttribute('aria-valuenow', 100);
                progressBar.textContent = '100%';
                successMessage.style.display = 'block';
                progressContainer.style.display = 'none'; // Hide progress bar after success
            } else {
                // Handle error
                console.error('Upload error');
            }
        };

        xhr.onerror = function() {
            // Handle request error
            console.error('Request failed');
        };

        progressContainer.style.display = 'block';
        xhr.send(formData);
    });
</script>
{% endblock %}
